.header{
    min-height: 50vh;
    width: 107%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/wilpattu2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: white;
}
.wilpattu{
    
    padding: 7%;
}

img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

newsletter {
    text-align: center;
    margin-top: 20px;
  }
  .letter{
    color: white;
    font-size: 18px;
  }
  
  .newsletter h3 {
    margin-bottom: 10px;
  }
  
  #newsletterForm {
    display: flex;
    justify-content: center;
  }
  
  #email {
    padding: 10px;
    width: 250px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #ea1414;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
